
<router-outlet></router-outlet>
<div>
    <div>
        <h1>Existing Polls:</h1>
        <div *ngFor="let item of poolList">
            <a routerLink="/details/{{item.ItemId}}">{{item.MeetingName}}</a>
        </div>
    </div>
    <div id="new-pool">
        <h1>New Poll</h1>
        <input type="text" placeholder="Enter meeting name" [(ngModel)]="meetingName"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <div></div>
        <button (click)="onClickAdd()">add Poll</button>
    </div>
</div>
